.pytest_cache
.ruff_cache
.scannerwork
.tmp
.uv-cache
.venv
.venv_*
.vscode
.git

build
dist
docs
extras
docs/build
htmlcov
log
site
tests

__pycache__
**/__pycache__
*.pyc
*.xlsx
*.egg-info

.coverage
dependency-check-report.html
report.html

.env
sonar-project.properties

src/gebrauchtwagen/config/resources/tls/*.pem
src/gebrauchtwagen/config/resources/tls/*.crt
src/gebrauchtwagen/config/resources/tls/*.key
