__pycache__/
.venv/
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/
*.pyc
src/gebrauchtwagen/config/resources/tls/*.pem
src/gebrauchtwagen/config/resources/tls/*.crt
src/gebrauchtwagen/config/resources/tls/*.key
