__pycache__/
.venv
.venv_*/
.tmp/
.uv-cache/
.pytest_cache
.ruff_cache
.vscode

build/
dist
docs/build
htmlcov
log
site
src/gebrauchtwagen/**/__pycache__
src/gebrauchtwagen/gebrauchtwagen.egg-info
tests/**/__pycache__

.coverage
report.html
dependency-check-report.html

*.pyc
*.xlsx
*.egg-info/

.env
sonar-project.properties

src/gebrauchtwagen/config/resources/tls/*.pem
src/gebrauchtwagen/config/resources/tls/*.crt
src/gebrauchtwagen/config/resources/tls/*.key
